@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600&display=swap");

body {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}
